h1 {
    text-align: center;
    color: #3298d8;
    padding: 2em;
    font-family: 'Hind', sans-serif;
}

body {
    background-image: url("../img/whole-back.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#submit {
    background-color: white;
    font-size: 1em;
    font-weight: 800;
    border-width: 3px;
    border-color: #5f709b;
    color: #3298d8;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    margin-bottom:50px;
    font-family: 'Hind', sans-serif;
}

label {
    text-align: right;
    padding: 5px;
    color: grey;
    font-family: 'Hind', sans-serif;
}
